<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Department</title>
</head>
<body>
<form th:method="POST"th:action="@{/departments/save}" th:object="${departments}">

    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
    </div>

    <div class="form-group">
        <label>
            <select th:field="*{hospitalId}">
                <option value="">--Select an option--</option>
                <option th:each="hospital : ${hospitals}" th:value="${hospital.id}" th:text="${hospital.name}"></option>
            </select>
        </label>
    </div>

<!--    <div>-->
<!--        <label for="address">Address</label>-->
<!--        <input type="text" th:field="*{address}" id="address">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="link">Link</label>-->
<!--        <input type="text" th:field="*{link}" id="link">-->
<!--    </div>-->

    <!--  <div>-->
    <!--    <label for="img">Image Link</label>-->
    <!--    <input type="text" th:field="*{img}" id="img">-->
    <!--  </div>-->
    <button type="submit">Save</button><p style="text-align:center;">
</form>
<!--<br>-->
<!--<p style="text-align: center">-->
<!--    <a class="btn btn-outline-primary" role="button" href="/departments/save">Add new Department</a></p>-->

</body>
</html>