<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div>
    <a th:href="@{/patients/{hospitalId}(hospitalId=${hospitalId})}" class="btn btn-primary">back</a>
</div>

<div>
    <form th:action="@{/patients/{hospitalId}/savePage(hospitalId=${hospitalId})}" th:object="${newPatient}"
          method="POST">
        <input type="hidden" th:field="*{id}">
        <div>
            <label for="name">Name:</label>
            <input type="text" th:field="*{firstName}" id="name">
        </div>
        <div>
            <label for="lastName">Surname:</label>
            <input type="text" th:field="*{lastName}" id="lastName">
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="text" placeholder="...@gmail.com" id="email" th:field="*{email}">
        </div>
        <div>
            <label for="phoneNumber">Phone number:</label>
            <input type="text" placeholder="+996" id="phoneNumber" th:field="*{phoneNumber}">
        </div>
        <div>
            <label >Gender:</label>
            <select th:field="*{gender}">
                <option value="">--Gender--</option>
                <option th:each="gender : ${genders}" th:value="${gender.name()}" th:text="${gender.name} "></option>
            </select>
        </div>
        <br>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</html>